.Container_Cabecera{
    display: flex;
    width: 100%;
    height: 33.3vh;
    justify-content: space-between;
    
}
.ContainerText{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
    font-family: Impact;
    font-size:20px;
}
.ContainerImage{
    display: flex;
    width: 50%;
    margin-right: 10px;
    height: 100%;
    justify-content: center;
}